{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'statistic'|trans({}, 'document-title') }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {{ render_chart(registrationsChart) }}
            </div>
            <div class="col-lg-6">
                {{ render_chart(revenueChart) }}
            </div>
        </div>

    </div>

    {{ encore_entry_script_tags('app') }}

{% endblock %}
