{% extends 'base.html.twig' %}

{% block title %}{{ '2fa.title'|trans({}, 'user') }}{% endblock %}

{% block body %}
    <section id="login_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <h1 class="h3 mb-3 font-weight-normal">{{ '2fa.login.title'|trans({}, 'user') }}</h1>

                    <p>{{ '2fa.login.description'|trans({}, 'user') }}</p>

                    {% if authenticationError %}
                        <div
                            class="alert alert-danger">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
                    {% endif %}
                    <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
                        <p class="widget">
                            <input
                                id="_auth_code"
                                type="text"
                                name="{{ authCodeParameterName }}"
                                autocomplete="one-time-code"
                                class="form-control"
                                autofocus
                                inputmode="numeric"
                                pattern="[0-9]*"
                            />
                        </p>
                        {% if displayTrustedOption %}
                            <p class="widget">
                                <label for="_trusted">
                                    <input id="_trusted" type="checkbox" name="{{ trustedParameterName }}"/>
                                    {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}
                                </label>
                            </p>
                        {% endif %}
                        {% if isCsrfProtectionEnabled %}
                            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                        {% endif %}
                        <a class="btn btn-primary"
                           href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
                        <button type="submit"
                                class="btn btn-primary">{{ "login"|trans({}, 'SchebTwoFactorBundle') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
