{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'login') }}{% endblock %}

{% block body %}

    <section id="login_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="alert alert-info">
                            {{ 'form.already_connected'|trans({'%username%' : app.user.email }, 'login') }}
                            <a href="{{ path('app_logout') }}">{{ 'form.logout'|trans({}, 'login') }}</a>
                        </div>
                    {% endif %}

                    {{ form_start(user_login_form) }}

                    {{ form_row(user_login_form.email, {
                        value: last_username
                    }) }}
                    {{ form_row(user_login_form.plainPassword, {}) }}
                    {{ form_row(user_login_form.rememberMe, {}) }}

                    <div class="alert-link text-right">
                        <a href="{{ path('app_forgot_password_request') }}">{{ 'form.forgotten_pass'|trans({}, 'login') }}</a>
                    </div>

                    <button type="submit" class="btn big_btn btn-primary">
                        {{ 'form.submit'|trans({}, 'login') }}
                    </button>

                    {{ form_end(user_login_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
