{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'resend') }}{% endblock %}

{% block body %}

    <section id="login_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">

                    <h1>{{ 'form.title'|trans({}, 'resend') }}</h1>
                    <p>{{ 'p-1'|trans({}, 'resend') }}</p>
                    {{ form_start(form) }}
                    {{ form_row(form.email) }}


                    <button type="submit" class="btn">{{ 'form.button'|trans({}, 'resend') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
