{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
{{ form_row(form.picture, {
    attr: {
        placeholder: 'edit-image.form.picture.placeholder'|trans({}, 'workshop')
    }
}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
