{% extends 'base.html.twig' %}

{% block title %}{{ 'edit-image.browser_tab_title'|trans({}, 'workshop') }}{% endblock %}

{% block body %}
    <section id="login_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <h1>{{ 'edit-image.title'|trans({}, 'workshop') }}</h1>

                    {{ include('admin/workshop_category/_form.html.twig', {'button_label': 'edit-image.update'|trans({}, 'workshop')}) }}

                    <div class="text-right">
                        <a href="{{ ea_url().setRoute('admin', {id: workshopCategory.id}) }}">{{ 'edit-image.back_form'|trans({}, 'workshop') }}</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
