{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <section id="login_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <h1>{{ 'form.title'|trans({}, 'reset-password-request') }}</h1>

                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            {{ 'form.subline'|trans({}, 'reset-password-request') }}
                        </small>
                    </div>

                    <button class="btn big_btn btn-primary">{{ 'form.submit'|trans({}, 'reset-password-request') }}</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}