{% extends 'base.html.twig' %}

{% block title %}{{ 'biography'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ 'title'|trans({}, 'biography') }}</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <figure>
                    <img src="{{ asset('build/images/biography/mrr-profil.jpeg') }}" alt="{{ 'alt.profil'|trans({}, 'biography') }}">
                </figure>
            </div>
            <div class="col-lg-9">
                <h2>{{ 'subtitle'|trans({}, 'biography') }}</h2>
                <p>{{ 'p-1'|trans({}, 'biography')|html_to_markdown }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ 'p-2'|trans({}, 'biography')|html_to_markdown }}</p>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <figure>
                    <img src="{{ asset('build/images/biography/Panier-herbes.jpeg') }}" alt="{{ 'alt.profil'|trans({}, 'biography') }}">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <img src="{{ asset('build/images/biography/Tartine-coquelicot.jpeg') }}" alt="{{ 'alt.profil'|trans({}, 'biography') }}">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <img src="{{ asset('build/images/biography/mrr-velo.jpeg') }}" alt="{{ 'alt.profil'|trans({}, 'biography') }}">
                </figure>
            </div>
            <div class="col">
                <figure>
                    <img src="{{ asset('build/images/biography/fleur-1.jpeg') }}" alt="{{ 'alt.profil'|trans({}, 'biography') }}">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ 'p-3'|trans({}, 'biography')|html_to_markdown }}</p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col">
                <video class="video" controls preload="metadata" poster="{{ asset('build/images/videos/video_poster.png') }}">
                    <source src="{{ asset('build/videos/2021_ADT35_Tourisme_rural_720p.mp4') }}" type=video/mp4>
                </video>
            </div>
        </div>
    </div>

{% endblock %}
