<div class="list-group">
    {% for workshop in workshops %}
        {% set picturePath = workshop.workshopCategory.picturePath %}
        {% if workshop.pictureFilename is not null %}
            {% set picturePath = workshop.picturePath %}
        {% endif %}
        <a
            class="list-group-item list-group-item-action"
            href="{{ path('workshop_show', {id: workshop.id}) }}"
        >

            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img
                        alt="{{ workshop.name }}"
                        src="{{ picturePath|imagine_filter('squared_thumbnail_medium') }}"
                        class="rounded"
                    >
                    <span class="px-1">{{ workshop.name }}</span>
                </div>
                <em>{{ workshop.startAt|format_date('full', 'EEEE d MMMM') }}</em>
            </div>
        </a>
    {% else %}
        <div class="list-group-item">
            Aucune correspondance
        </div>
    {% endfor %}
</div>