{% extends 'base.html.twig' %}

{% block title %}{{ 'workshop.cooking'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h1 class="">{{ 'title'|trans({}, 'workshop-cooking') }}</h1>

        <p class="">{{ 'introduction'|trans({}, 'workshop-cooking') }}</p>

        <h2 class="">{{ 'program.title'|trans({}, 'workshop-cooking') }}</h2>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-5">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/Tisane-2.jpg') }}" alt="">
            </div>
            <div class="col-lg-5">
                <h3 class="">{{ 'program.reception.title'|trans({}, 'workshop-cooking') }}</h3>
                <p>{{ 'program.reception.paragraph-1'|trans({}, 'workshop-cooking') }}</p>
                <p>{{ 'program.reception.paragraph-2'|trans({}, 'workshop-cooking') }}</p>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-4">
                <h3 class="">{{ 'program.harvesting.title'|trans({}, 'workshop-cooking') }}</h3>
                <p>{{ 'program.harvesting.paragraph-1'|trans({}, 'workshop-cooking') }}</p>
                <p>{{ 'program.harvesting.paragraph-2'|trans({}, 'workshop-cooking') }}</p>
                <ul>
                    <li>{{ 'program.harvesting.li-1'|trans({}, 'workshop-cooking') }}</li>
                    <li>{{ 'program.harvesting.li-2'|trans({}, 'workshop-cooking') }}</li>
                    <li>{{ 'program.harvesting.li-3'|trans({}, 'workshop-cooking') }}</li>
                    <li>{{ 'program.harvesting.li-4'|trans({}, 'workshop-cooking') }}</li>
                    <li>{{ 'program.harvesting.li-5'|trans({}, 'workshop-cooking') }}</li>
                </ul>
            </div>

            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/Balade.jpg') }}" alt="">
            </div>
            <div class="col-lg-2 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/Prise-de-notes.jpg') }}" alt="">
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/en-cuisine.ee3933b0.jpg') }}" alt="">
            </div>
            <div class="col-lg-4 my-2">
                <h3 class="">{{ 'program.cooking.title'|trans({}, 'workshop-cooking') }}</h3>
                <p>{{ 'program.cooking.paragraph-1'|trans({}, 'workshop-cooking') }}</p>
                <p>{{ 'program.cooking.paragraph-2'|trans({}, 'workshop-cooking') }}</p>
                <p>{{ 'program.cooking.paragraph-3'|trans({}, 'workshop-cooking') }}</p>
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/Retour-cuisine.jpg') }}" alt="">
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/toast-a-lalliaire.jpg') }}" alt="">
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/Repas.jpg') }}" alt="">
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/cooking-workshop/2017-09_stage3.jpg') }}" alt="">
            </div>
        </div>

        {% if cookingWorkshopCategory is not null %}
            {% set price = (cookingWorkshopCategory.indicativePrice/100)|round %}
        {% else %}
            {% set price = 64 %}
        {% endif %}

        <div class="row justify-content-end mt-2">
            <div class="col-lg-4">
                <h2 class="mt-5">{{ 'in_practice.title'|trans({}, 'workshop-cooking') }}</h2>
                <ul>
                    <li>{{ 'in_practice.schedule'|trans({}, 'workshop-cooking') }}</li>
                    <li>{{ 'in_practice.capacity'|trans({}, 'workshop-cooking') }}</li>
                    <li>{{ 'in_practice.price'|trans({'price': price}, 'workshop-cooking') }}</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
