{% extends 'base.html.twig' %}

{% block title %}{{ 'workshop.calendar'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'title'|trans({'workshops_number': workshops.totalItemCount }, 'calendar') }}</h1>
            </div>

            <div class="col mt-3">
                <form>
                    <div
                        class="input-group custom-search-form"
                        {{ stimulus_controller('search-preview', {
                            url: path('workshop_index')
                        }) }}
                    >
                        <input
                            name="search"
                            value="{{ app.request.query.get('search') }}"
                            placeholder="{{ 'search.placeholder'|trans({}, 'calendar') }}"
                            type="search"
                            class="form-control"
                            data-action="search-preview#onSearchInput"
                        >

                        <div
                            class="search-preview"
                            data-search-preview-target="result"
                        ></div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            {% for workshop in workshops %}
                <div class="col-md-3">
                    <div class="card mb-2">
                        {% set picturePath = workshop.workshopCategory.picturePath %}
                        {% if workshop.pictureFilename is not null %}
                            {% set picturePath = workshop.picturePath %}
                        {% endif %}
                        <a href="{{ path('workshop_show',  {'id': workshop.id}) }}">
                            <img src="{{ picturePath|imagine_filter('squared_thumbnail_medium') }}"
                                 class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title text-center">
                                <a href="{{ path('workshop_show',  {'id': workshop.id}) }}">
                                    {{ workshop.workshopCategory.name }}
                                </a>
                            </h6>
                            <p class="card-subtitle text-center">
                                {{ workshop.name }}
                            </p><br>
                            <h6 class="card-title">
                                {{ workshop.startAt|format_date('full', 'EEEE d MMMM')|capitalize }}</h6>
                            <p class="card-subtitle hour-subtitle"> {{ workshop.startAt|date('H:i') }}
                                - {{ workshop.endsAt|date('H:i') }}</p>
                            <h6 class="card-title">
                                {{ 'workshop.address'|trans({
                                    'locality': workshop.address.locality|capitalize,
                                    'zipcode': workshop.address.postalCode,
                                    'street': workshop.address.route
                                }, 'calendar') }}
                            </h6>
                            {% set capacity = workshop.workshopCategory.indicativeCapacity %}
                            {% if workshop.capacity is not null %}
                                {% set capacity = workshop.capacity %}
                            {% endif %}


                            {% if workshop.remainingPlaces <= 0 %}
                                <h5 class="text-center">
                                    <span class="badge badge-danger">
                                        {{ 'registration.full'|trans({}, 'calendar') }}
                                    </span>
                                </h5>
                            {% else %}
                                <p class="card-text">
                                    {{ 'workshop.places'|trans({
                                        'capacity': capacity,
                                        'remaining': workshop.remainingPlaces
                                    }, 'calendar') }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="separator_auto"></div>
                </div>

            {% else %}
                <tr>
                    <td colspan="11">{{ 'workshop.no_records'|trans({}, 'calendar') }}</td>
                </tr>
            {% endfor %}
        </div>
        <div class="row justify-content-center mt-5">
            {{ knp_pagination_render(workshops) }}
        </div>
    </div>

{% endblock %}
