{% extends 'base.html.twig' %}

{% block title %}{{ 'workshop.show'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h1 class="text-center mt-5">
            {{ workshop.name|upper }}
        </h1>
        <p class="card-subtitle text-center text">
            <strong>{{ workshop.startAt|format_date('full')|capitalize }} - {{ workshop.startAt|date('H:i') }}</strong>
        </p>

        <div class="row justify-content-center mt-5">

            <div class="col-lg-4">
                {% set picturePath = workshop.workshopCategory.picturePath %}
                {% if workshop.pictureFilename is not null %}
                    {% set picturePath = workshop.picturePath %}
                {% endif %}
                <img class="img-fluid rounded mb-5 card-img-top"
                     src="{{ picturePath|imagine_filter('squared_thumbnail_medium') }}"
                     alt="...">
            </div>
            <div class="col-lg-8">
                <p>{{ workshop.description|raw }}</p>
                <h2>{{ workshop.workshopCategory.name|upper }}</h2>
                <p>{{ workshop.workshopCategory.description|raw }}</p>
                <p>
                    {% set price = workshop.workshopCategory.indicativePrice %}
                    {% if workshop.price is not null %}
                        {% set price = workshop.price %}
                    {% endif %}
                    <strong>{{ 'show.price'|trans({'%price%': price / 100}, 'workshop') }}</strong>
                </p>
                <p>
                    <strong>{{ 'show.schedule.value'|trans({
                            '%start_time%':workshop.startAt|date('H:i'),
                            '%end_time%':workshop.endsAt|date('H:i')
                        }, 'workshop') }}</strong>
                </p>
                <p>{{ workshop.workshopCategory.practicalInformation|raw }}</p>

                {% set capacity = workshop.workshopCategory.indicativeCapacity %}
                {% if workshop.capacity is not null %}
                    {% set capacity = workshop.capacity %}
                {% endif %}
                {% if workshop.remainingPlaces <= 0 %}
                    <h5 class="text-center">
                        <span class="badge badge-danger">
                            {{ 'registration.full'|trans({}, 'calendar') }}
                        </span>
                    </h5>
                {% else %}
                    <p class="pt-3 text-center">
                        <a class="btn btn-primary"
                           href="{{ path('registration_new', {id: workshop.id}) }}">{{ 'show.register'|trans({}, 'workshop') }}
                        </a>
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
