{% extends 'base.html.twig' %}

{% block title %}{{ 'workshop.walking'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container mb-5">
        <h1 class="">{{ 'title'|trans({}, 'workshop-walking') }}</h1>

        <figure>
            <blockquote class="blockquote">
                <p>{{ 'introduction-1'|trans({}, 'workshop-walking') }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                {{ 'introduction-2'|trans({}, 'workshop-walking') }}
            </figcaption>
        </figure>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-5">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/walking-workshop/cueillette.jpg') }}" alt="">
            </div>
            <div class="col-lg-7">
                <p>{{ 'program.paragraph-1'|trans({}, 'workshop-walking') }}</p>
                <p>{{ 'program.paragraph-2'|trans({}, 'workshop-walking') }}</p>
                <p>{{ 'program.paragraph-3'|trans({}, 'workshop-walking') }}</p>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/walking-workshop/biscuits-aux-coquelicots.jpg') }}" alt="">
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/walking-workshop/Crème-au-lierre-terrestre.jpg') }}" alt="">
            </div>
            <div class="col-lg-4 my-2">
                <img class="img-fluid rounded card-img-top"
                     src="{{ asset('build/images/walking-workshop/Verrines.jpg') }}" alt="">
            </div>
        </div>

        {% if walkingWorkshopCategory is not null %}
            {% set price = (walkingWorkshopCategory.indicativePrice/100)|round %}
        {% else %}
            {% set price = 24 %}
        {% endif %}

        <div class="row justify-content-end mt-2">
            <div class="col-lg-4">
                <ul>
                    <li>{{ 'in_practice.schedule'|trans({}, 'workshop-walking') }}</li>
                    <li>{{ 'in_practice.capacity'|trans({}, 'workshop-walking') }}</li>
                    <li>{{ 'in_practice.price'|trans({'price': price }, 'workshop-walking') }}</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
