{% extends 'base.html.twig' %}

{% block title %}{{ 'homepage'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="card-group">
{#                    <div class="card">
                        <a href="{{ path('le-gite-show') }}"><img src="{{ asset('build/le-gite/entrance.jpg') }}"
                                                                  class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ 'title'|trans({}, 'le-gite') }}</h5>
                            <p class="card-text">{{ 'description'|trans({}, 'le-gite') }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="{{ path('papillons-show') }}"><img src="{{ asset('build/papillons/sud-est-2.jpg') }}"
                                                                    class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ 'title'|trans({}, 'papillons') }}</h5>
                            <p class="card-text">{{ 'descripton'|trans({}, 'papillons') }}</p>
                        </div>
                    </div>
                    <div class="card">
                        <a href="{{ path('soleil-levant-show') }}"><img src="{{ asset('build/soleil-levant/bed.jpg') }}"
                                                                        class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ 'title'|trans({}, 'soleil-levant') }}</h5>
                            <p class="card-text">{{ 'description'|trans({}, 'soleil-levant') }}</p>
#}{#                            <div class="text-right"><a href="#" class="text-right btn btn-dark">Reserver</a></div>#}{#

                        </div>
                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
