{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row>
        <columns>
            <p>
            <center>
                {{ 'workshop_registration.cancel_by_user.paragraph.first'|trans({
                    '%uuid%': registration.uuid,
                    '%name%': registration.workshop.name,
                    '%date%': registration.workshop.startAt|format_datetime('full')
                }, 'email')|raw }}
            </center>
            </p>

            <spacer size="20"></spacer>

            <p>
            <center>
                {{ 'workshop_registration.cancel_by_user.paragraph.second'|trans({
                    '%firstname%': registration.firstname,
                    '%lastname%': registration.lastname,
                }, 'email') }}
            </center>
            </p>

        </columns>
    </row>
    <spacer size="50"></spacer>

{% endblock %}
