{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row>
        <columns>
            <p>
                <strong>Bonjour {{ registration.firstname }} !</strong>
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
            <center>
                {{ 'workshop_registration.confirmation.paragraph.first'|trans({'%uuid%': registration.uuid}, 'email') }}
            </center>
            </p>

            <spacer size="20"></spacer>

            <p>
            <center>
                {{ 'workshop_registration.confirmation.paragraph.second'|trans({
                    '%name%': registration.workshop.name,
                    '%date%': registration.workshop.startAt|format_datetime('full')
                }, 'email')|raw }}
            </center>
            </p>

            <spacer size="10"></spacer>

            <p>
            <center>
                <a href="{{ url('registration_show', {'uuid': registration.uuid}) }}">
                    {{ 'workshop_registration.confirmation.paragraph.third'|trans({}, 'email') }}
                </a>
            </center>
            </p>

        </columns>
    </row>
    <spacer size="10"></spacer>
    <row>
        <columns>
            <p>{{ 'workshop_registration.confirmation.paragraph.forth'|trans({}, 'email')|raw }}</p>
            <p>{{ 'workshop_registration.confirmation.paragraph.fifth'|trans({}, 'email') }}</p>
            <p>{{ 'workshop_registration.confirmation.paragraph.sixth'|trans({}, 'email') }}</p>
        </columns>
    </row>
    <spacer size="50"></spacer>

{% endblock %}
