{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row>
        <columns>
            <p>
                <strong>Bonjour {{ registration.firstname }} !</strong>
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
            <center>
                {{ 'workshop_registration.partial_payment.paragraph.first'|trans({
                    '%uuid%': registration.uuid,
                    '%name%': registration.workshop.name,
                    '%date%': registration.workshop.startAt|format_datetime('full'),
                    '%amount_received%': registration.amountReceived / 100
                }, 'email')|raw }}
            </center>
            </p>

            <spacer size="20"></spacer>

            <p>
            <center>
                <a href="{{ url('workshop_index') }}">
                    {{ 'workshop_registration.partial_payment.paragraph.second'|trans({}, 'email') }}
                </a>
            </center>
            </p>

        </columns>
    </row>
    <spacer size="50"></spacer>

{% endblock %}
