{% extends 'workshop/registration/_confirmation_modal.html.twig' %}

{% block button_title %}{{ 'show.cancel_modal.button'|trans({}, 'registration') }}{% endblock %}

{% block modal_title %}{{ 'show.cancel_modal.title'|trans({}, 'registration') }}{% endblock %}

{% block modal_message %}
    {{ 'show.cancel_modal.message'|trans({
        '%workshop%':registration.workshop.name,
        '%date%':registration.workshop.startAt|format_datetime('full')
    }, 'registration')|capitalize }}
{% endblock %}

{% block modal_redirect_path %}{% endblock %}

{% block modal_confirm %}
    <a class="btn btn-danger big_btn"
       href="{{ path('registration_cancel', {'uuid': registration.uuid}) }}">
        {{ 'show.cancel_modal.confirm'|trans({}, 'registration') }}
    </a>
{% endblock %}
