<!-- Button trigger modal -->
<button type="button" class="btn btn-danger little-btn" data-toggle="modal"
        data-target="#exampleModal">
    {% block button_title %}{% endblock %}
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">{% block modal_title %}{% endblock %}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block modal_message %}{% endblock %}
            </div>
            <div class="modal-footer text-center">
                {% block modal_confirm %}{% endblock %}
            </div>
        </div>
    </div>
</div>