{% extends 'workshop/registration/_confirmation_modal.html.twig' %}

{% block button_title %}{{ 'new.create_modal.button'|trans({}, 'registration') }}{% endblock %}

{% block modal_title %}{{ 'new.create_modal.title'|trans({}, 'registration') }}{% endblock %}

{% block modal_message %}
    {{ 'new.create_modal.message'|trans({
        '%workshop%':registration.workshop.name,
        '%date%':registration.workshop.startAt|format_datetime('full')
    }, 'registration')|html_to_markdown }}
{% endblock %}

{% block modal_confirm %}
    <button
            class="btn btn-primary">{{ button_label|default('form.submit.label'|trans({}, 'registration')) }}
    </button>
{% endblock %}
