<div class="col-lg-6">
    <h2>{{ 'form.title'|trans({workshop_date: registration.workshop.startAt|format_date}, 'registration') }}</h2>
    <h3>{{ registration.workshop.workshopCategory.name }}</h3>
    <p class="my-3">
        {% set price = registration.workshop.workshopCategory.indicativePrice %}
        {% if registration.workshop.price is not null %}
            {% set price = registration.workshop.price %}
        {% endif %}
        <strong>{{ 'show.price'|trans({'%price%': price / 100}, 'workshop') }}</strong>
    </p>

    <p class="mb-3">
        <strong>{{ 'show.schedule.value'|trans({
                '%start_time%':registration.workshop.startAt|date('H:i'),
                '%end_time%':registration.workshop.endsAt|date('H:i')
            }, 'workshop') }}</strong>
    </p>

    <div class="col-lg-8 my-3">
        {% set picturePath = registration.workshop.workshopCategory.picturePath %}
        {% if registration.workshop.pictureFilename is not null %}
            {% set picturePath = registration.workshop.picturePath %}
        {% endif %}
        <img src="{{ picturePath|imagine_filter('squared_thumbnail_medium') }}"
             class="card-img-top" alt="...">
    </div>
    <p>{{ registration.workshop.description|html_to_markdown }}</p>
    <p>{{ registration.workshop.workshopCategory.description|html_to_markdown }}</p>
    <a class="btn btn-primary"
       href="{{ path('workshop_index') }}">{{ 'back_to_calendar'|trans({}, 'registration') }}</a>
</div>