{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'registration') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row justify-content-lg-center">
            {{ include('workshop/registration/_workshop_description.html.twig') }}
            <div class="col-lg-6">
                <h1>{{ 'edit.title'|trans({}, 'registration') }}</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <p class="text-center">
                    <button class="btn btn-dark">
                        {{ button_label|default('form.submit.label'|trans({}, 'registration')) }}
                    </button>
                </p>

                {{ form_end(form) }}

                <p class="">
                    <a class="btn btn-danger" href="{{ path('registration_show', {'uuid':registration.uuid}) }}">
                        {{ 'edit.back_to_show'|trans({}, 'registration') }}
                    </a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}
