{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'registration') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">

            <div
                class="col-lg-6"
                {{ stimulus_controller('search-address', { url: path('address') }) }}
                {#                {{ stimulus_controller('workshop-registration-confirm') }} #}
            >

                {{ form_start(form) }}
                {#                {{ form_start(form, {'attr': {
                    'data-controller': 'submit-confirm',
                    'data-action' : 'submit-confirm#onSubmit',
                    'data-submit-confirm-title-value': 'new.create_modal.title'|trans({}, 'registration'),
                    'data-submit-confirm-text-value': 'new.create_modal.message'|trans({
                        '%workshop%':registration.workshop.name,
                        '%date%':registration.workshop.startAt|format_datetime('full')
                    }, 'registration'),
                    'data-submit-confirm-confirm-button-value': 'new.create_modal.confirm'|trans({}, 'registration'),
                    'data-submit-confirm-icon-value': 'question',
                    'data-submit-confirm-submit-async-value': true
                }}) }} #}

                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.street, {
                    attr: {
                        'data-action' : 'search-address#onSearchInput',
                        'data-search-address-target' :'street'
                    }
                }) }}
                <div
                    class="form-group"
                    data-search-address-target="result"
                ></div>
                {{ form_row(form.zipCode, {
                    attr: {
                        'data-search-address-target' :'postcode'
                    }
                }) }}
                {{ form_row(form.city, {
                    attr: {
                        'data-search-address-target' :'city'
                    }
                }) }}
                {{ form_row(form.phoneNumber) }}
                {{ form_row(form.email) }}
                {{ form_row(form.participantsNumber) }}
                {{ form_row(form.howDidYouFind) }}
                {{ form_row(form.comment) }}

                {{ include('workshop/registration/_registering_modal.html.twig') }}
                {#                <button class="btn btn-primary" formnovalidate>
                    {{ button_label|default('form.submit.label'|trans({}, 'registration')) }}
                </button> #}

                {{ form_end(form) }}

            </div>

            <div class="col-lg-6">
                <h2>{{ 'form.title'|trans({workshop_date: registration.workshop.startAt|format_date}, 'registration') }}</h2>
                <h3>{{ registration.workshop.workshopCategory.name }}</h3>
                <p class="my-3">
                    {% set price = registration.workshop.workshopCategory.indicativePrice %}
                    {% if registration.workshop.price is not null %}
                        {% set price = registration.workshop.price %}
                    {% endif %}
                    <strong>{{ 'show.price'|trans({'%price%': price / 100}, 'workshop') }}</strong>
                </p>

                <p class="mb-3">
                    <strong>{{ 'show.schedule.value'|trans({
                            '%start_time%':registration.workshop.startAt|date('H:i'),
                            '%end_time%':registration.workshop.endsAt|date('H:i')
                        }, 'workshop') }}</strong>
                </p>

                <div class="col-lg-8 my-3">
                    {% set picturePath = registration.workshop.workshopCategory.picturePath %}
                    {% if registration.workshop.pictureFilename is not null %}
                        {% set picturePath = registration.workshop.picturePath %}
                    {% endif %}
                    <img src="{{ picturePath|imagine_filter('squared_thumbnail_medium') }}"
                         class="card-img-top" alt="...">
                </div>
                <p>{{ registration.workshop.description|html_to_markdown }}</p>
                <p>{{ registration.workshop.workshopCategory.description|html_to_markdown }}</p>
                <a class="btn btn-primary"
                   href="{{ path('workshop_index') }}">{{ 'back_to_calendar'|trans({}, 'registration') }}</a>
            </div>

        </div>
    </div>
{% endblock %}
