{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'registration') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row justify-content-lg-center">
            {{ include('workshop/registration/_workshop_description.html.twig') }}
            <div class="col-lg-6">
                <h2>{{ 'show.title'|trans({}, 'registration') }}</h2>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'uuid'|trans({}, 'registration') }}</th>
                        <td>{{ registration.uuid }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'firstname'|trans({}, 'registration') }}</th>
                        <td>{{ registration.firstname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'lastname'|trans({}, 'registration') }}</th>
                        <td>{{ registration.lastname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'street'|trans({}, 'registration') }}</th>
                        <td>{{ registration.street }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'zip_code'|trans({}, 'registration') }}</th>
                        <td>{{ registration.zipCode }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'city'|trans({}, 'registration') }}</th>
                        <td>{{ registration.city }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'phone_number'|trans({}, 'registration') }}</th>
                        <td>{{ registration.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'email'|trans({}, 'registration') }}</th>
                        <td>{{ registration.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'participants_number'|trans({}, 'registration') }}</th>
                        <td>{{ registration.participantsNumber }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'status'|trans({}, 'registration') }}</th>
                        <td>
                            {% if workflow_has_marked_place(registration, 'availability_pending', 'availability_confirmation') %}
                                {{ 'show.availability_pending'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'availability_denied', 'availability_confirmation') %}
                                {{ 'show.availability_denied'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'availability_confirmed', 'availability_confirmation') %}
                                {{ 'show.availability_confirmed'|trans({
                                    '%remaining_amount%': registration.remainingAmount / 100
                                }, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'cancelled_by_admin', 'availability_confirmation') %}
                                {{ 'show.cancelled_by_admin'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'cancelled_by_user', 'availability_confirmation') %}
                                {{ 'show.cancelled_by_user'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'show.payment_status'|trans({}, 'registration') }}</th>
                        <td>
                            {% if workflow_has_marked_place(registration, 'closed', 'payment_confirmation') %}
                                {{ 'show.payment_closed'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'none', 'payment_confirmation') %}
                                {{ 'show.payment_none'|trans({
                                    '%remaining_amount%': registration.remainingAmount / 100
                                }, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'partial', 'payment_confirmation') %}
                                {{ 'show.payment_partial'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'in_progress', 'payment_confirmation') %}
                                {{ 'show.payment_in_progress'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                            {% if workflow_has_marked_place(registration, 'complete', 'payment_confirmation') %}
                                {{ 'show.payment_complete'|trans({}, 'registration')|html_to_markdown }}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% if workflow_can(registration, 'cancel_request', 'availability_confirmation')
                    or workflow_can(registration, 'cancel_registration_user', 'availability_confirmation') %}
                    {{ include('workshop/registration/_cancel_modal.html.twig') }}
                {% endif %}

                {% if workflow_can(registration, 'full_payment', 'payment_confirmation')
                    or workflow_can(registration, 'to_partial_payment', 'payment_confirmation') %}
                    <a class="btn btn-dark" href="{{ path('payment', {'uuid': registration.uuid}) }}">
                        {{ 'show.payment'|trans({}, 'registration') }}
                    </a>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
