.legal-notices {
  &__identity {
    width: 40%;
    dl {
      display: flex;
      line-height: 1.3rem;
    }

    dt {
      padding: 0 5px;
      color: $primary;
      &:after {
        content: " :";
      }
    }

    dd {
      margin: 0;
    }
  }
}