@import "functions";
@import "variables";
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~font-awesome';
@import "fonts";
@import "legal-notices";
@import "stripe";
@import "swal-modal";

body {
    font-family: 'Montserrat', sans-serif;
    color: #545454;
    font-size: 13px;
    line-height: 1.6;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0.5em 0 0.5em 0;
    color: $black;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0.5em 0 0.5em 0.5em;
    color: $black;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0.5em 0 0.5em 1em;
    color: $black;
}

a {
    color: $black;

    &:hover {
        color: $black;
        text-decoration: none;
    }
}

header {
    line-height: 20px;
    padding: 20px 0 0;
    margin-bottom: 40px;
    text-align: center;
}

li {
    padding-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
}

.header-logo-text {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0.5em 0 0.5em 0;
    color: $black;
    letter-spacing: 10px;
    line-height: 60px;
    font-size: 60px;
    font-weight: 200;
}

.tagline {
    margin-top: 15px;
    color: #646464;
    font-family: 'Caveat', cursive;
    font-size: 18px;
    text-transform: lowercase;
    padding: 0 26px;
}

nav {
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.nav > li > a {
    font-size: 11px;
    letter-spacing: 2px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    box-sizing: border-box;

    &:focus &:hover {
        outline: none;
        border-radius: 0;
    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 23px 27px;
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
    color: black;
}

.body-container {
    margin: 1em auto;
    max-width: 1200px;
    width: 90%;
}

.dropdown-item {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #545454;
    font-size: 11px;
    line-height: 1.6;
}

.form-control:focus {
    border: 2px solid #3D3D3D;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 0;

    &:focus {
        border: 1px solid #000;
    }
}
.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #333;
    font-size: 1em;
    padding: 10px 15px;
}
.btn-primary:hover {
    background-color: #3D3D3D;
}

h6.card-title{
    color: #0a0a0a;
    font-size: 0.90rem
}

p.hour-subtitle {
    margin-top: -0.8rem;
    margin-bottom: 1rem;
}

.card-body {
    padding: 1rem;
}

.search-preview {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 44px;
}
.search-preview img {
    width: 50px;
}

.video {
    width: 100%;
    height: auto;
}