.swal2-title  {
  font-size: 1.25rem!important;
  font-weight: 500!important;
  font-family: 'Montserrat', sans-serif!important;
}

.swal2-html-container {
  font-size: 0.9rem!important;
  line-height: 1.4rem !important;
}