{% extends 'base.html.twig' %}
{% form_theme contactForm _self %}

{% block title %}{{ 'contact'|trans({}, 'document-title') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ 'header.title'|trans({}, 'contact') }}</h1>

                <ul>
                    <li>{{ 'header.li.1'|trans({}, 'contact') }}</li>
                    <li>{{ 'header.li.2'|trans({}, 'contact') }}</li>
                    <li>{{ 'header.li.3'|trans({}, 'contact') }}</li>
                </ul>
                <p>{{ 'header.p'|trans({}, 'contact') }}</p>

                <h1>{{ 'form.title'|trans({}, 'contact') }}</h1>
                {{ form_start(contactForm) }}
                {{ form_row(contactForm.firstname) }}
                {{ form_row(contactForm.lastname) }}
                {{ form_row(contactForm.email) }}
                {{ form_row(contactForm.message) }}
                {{ form_row(contactForm.captcha) }}

                <button type="submit" class="btn btn-primary">
                    {{ 'form.submit.label'|trans({}, 'contact') }}
                </button>
                {{ form_end(contactForm) }}

            </div>
            <div class="col-lg-6">
                <h1>Localisation</h1>
                <address>
                    Marie-Renée Rupin<br>
                    Aux Bonnes Herbes<br>
                    La Mettrie<br>
                    35680 Bais<br>
                </address>
                <p>Nous nous trouvons au Sud-Est de Rennes (35 km), entre Vitré (14 km) et La Guerche de Bretagne (12
                    km).</p>
                <p>Notre gite se situe à 1km500 du bourg de Bais, sur la route de Torcé.</p>
            </div>

        </div>
    </div>
{% endblock %}
