<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon.ico') }}">

    <title>{% block title %}{{ 'doctype-title'|trans({}, 'base') }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100">

{{ include('layout/alerts.html.twig') }}

<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="header-logo-text"><a href="{{ path('homepage') }}">{{ 'header-title'|trans({}, 'base') }}</a>
                </h1>
                <p class="tagline">{{ 'header-title-tagline'|trans({}, 'base') }}</p>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#frontNavbar"
                    aria-controls="frontNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="frontNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item {% if app.request.get('_route') == 'biography' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('biography') }}">{{ 'biography'|trans({}, 'nav') }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ 'workshop'|trans({}, 'nav') }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">

                            <a class="dropdown-item {% if app.request.get('_route') == 'workshop_cooking_show' %}active{% endif %}"
                               href="{{ path('workshop_cooking_show') }}">{{ 'title'|trans({}, 'workshop-cooking') }}</a>
                            <a class="dropdown-item {% if app.request.get('_route') == 'workshop_walking_show' %}active{% endif %}"
                               href="{{ path('workshop_walking_show') }}">{{ 'title'|trans({}, 'workshop-walking') }}</a>

                        </div>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'nearby' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('workshop_index') }}">{{ 'calendar'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'partners' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('partners') }}">{{ 'partners'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'contact' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('contact') }}">{{ 'contact'|trans({}, 'nav') }}</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item {% if app.request.get('_route') == 'admin' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('admin') }}">{{ 'admin'|trans({}, 'nav') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>

{% block body %}{% endblock %}

{{ include('layout/footer.html.twig') }}
</body>
</html>
