{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'legal_notices') }}{% endblock %}

{% block body %}

    <!--Legal Notices Section-->
    <section class="legal-notices">
        <div class="container py-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-12">
                    <h1 class="text-center ">{{ 'title'|trans({}, 'legal_notices')|upper }}</h1>
                    <div class="legal-notices__identity">
                        <h2>{{ 'identity.title'|trans({}, 'legal_notices') }}</h2>
                        <dl>
                            <dt>{{ 'identity.website_name.term'|trans({}, 'legal_notices') }}</dt>
                            <dd>{{ 'identity.website_name.description'|trans({}, 'legal_notices') }}</dd>
                        </dl>
                        <dl>
                            <dt>{{ 'identity.address.term'|trans({}, 'legal_notices') }}</dt>
                            <dd>{{ 'identity.address.description'|trans({}, 'legal_notices') }}</dd>
                        </dl>
                        <dl>
                            <dt>{{ 'identity.owner.term'|trans({}, 'legal_notices') }}</dt>
                            <dd>{{ 'identity.owner.description'|trans({}, 'legal_notices') }}</dd>
                        </dl>
                        <dl>
                            <dt>{{ 'identity.publication_manager.term'|trans({}, 'legal_notices') }}</dt>
                            <dd>{{ 'identity.publication_manager.description'|trans({}, 'legal_notices') }}</dd>
                        </dl>
                        <dl>
                            <dt>{{ 'identity.developer.term'|trans({}, 'legal_notices') }}</dt>
                            <dd>{{ 'identity.developer.description'|trans({}, 'legal_notices')|raw }}</dd>
                        </dl>
                        <dl>
                            <dt>{{ 'identity.hosting.term'|trans({}, 'legal_notices') }}</dt>
                            <dd>{{ 'identity.hosting.description'|trans({}, 'legal_notices') }}</dd>
                        </dl>
                    </div>
                    <div>
                        <h2>{{ 'terms_of_use.title'|trans({}, 'legal_notices') }}</h2>
                        <p>{{ 'terms_of_use.p'|trans({}, 'legal_notices') }}</p>
                    </div>
                    <div>
                        <h2>{{ 'informations.title'|trans({}, 'legal_notices') }}</h2>
                        <p>{{ 'informations.p'|trans({}, 'legal_notices')|raw }}</p>
                    </div>
                    <div>
                        <h2>{{ 'copyright.title'|trans({}, 'legal_notices') }}</h2>
                        <p>{{ 'copyright.p'|trans({}, 'legal_notices')|raw }}</p>
                    </div>
                    <div>
                        <h2>{{ 'links.title'|trans({}, 'legal_notices') }}</h2>
                        <h3>{{ 'links.outbound_links.title'|trans({}, 'legal_notices') }}</h3>
                        <p>{{ 'links.outbound_links.p'|trans({}, 'legal_notices') }}</p>
                        <H3>{{ 'links.inbound_links.title'|trans({}, 'legal_notices') }}</H3>
                        <p>{{ 'links.inbound_links.p_1'|trans({}, 'legal_notices') }}</p>
                        <ul>
                            <li>{{ 'links.inbound_links.first_point'|trans({}, 'legal_notices') }}</li>
                            <li>{{ 'links.inbound_links.second_point'|trans({}, 'legal_notices') }}</li>
                        </ul>
                        <p>{{ 'links.inbound_links.p_2'|trans({}, 'legal_notices') }}</p>
                    </div>
                    <div>
                        <h2>{{ 'privacy.title'|trans({}, 'legal_notices') }}</h2>
                        <p>{{ 'privacy.p'|trans({}, 'legal_notices') }}</p>
                    </div>
                    <div>
                        <h2>{{ 'credits.title'|trans({}, 'legal_notices') }}</h2>
                        <p>{{ 'credits.legal_notice'|trans({}, 'legal_notices') }}</p>
                    </div>
                </div>
            </div>
        </div><!--End off container -->
    </section><!--End off Contact Section-->
{% endblock %}
