{% extends 'base.html.twig' %}

{% block title %}{{ 'partners'|trans({}, 'document-title') }}{% endblock %}

{% block body %}

    <div class="container body-container">
        <div class="row">
            <div class="col">
                <h1>Nos partenaires</h1>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <figure>
                    <a href="https://www.accueil-paysan.com/fr/" target="_blank">
                        <img src="{{ asset('build/images/logo_accueil_paysan.gif') }}" alt="Logo Accueil Paysan">
                    </a>
                </figure>
            </div>
            <div class="col-lg-9">
                <h2>Le label Accueil Paysan</h2>
                <p><strong>Accueil Paysan</strong> c’est un réseau qui regroupe plus de 700 adhérents en France et 150
                    adhérents dans les autres pays proposant une alternative au modèle de développement intensif de
                    l’agriculture.</p>
                <p><strong>Une alternative paysanne : </strong>ACCUEIL PAYSAN, fondé en 1987, est un groupement de
                    paysans
                    qui prenant appui sur leur activité agricole mettent en place un accueil touristique et social en
                    relation avec tous les acteurs du développement local.</p>
                <p>ACCUEIL PAYSAN, c’est aussi redonner au mot « Paysan » toute sa richesse. C’est l’homme du pays,
                    celui qui connaît l’environnement, la nature et les respecte.</p>
                <p>Consulter la
                    <a href="https://www.accueil-paysan.com/fr/qui-sommes-nous/notre-charte/" target="_blank">
                        charte Accueil Paysan
                    </a>
                </p>
                <p>Consulter le site de
                    <a href="http://www.accueil-paysan-en-bretagne.fr/trouver-un-lieu-daccueil/trouver-un-lieu-daccueil-ille-et-vilaine/"
                       target="_blank">
                        l'association Accueil Paysan Ille-et-Vilaine
                    </a>
                </p>
                <p>Consulter le site de
                    <a href="https://www.accueil-paysan.com/fr/contact/federation-nationale-accueil-paysan/" target="_blank">
                        la fédération nationale Accueil Paysan
                    </a>
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <figure>
                    <a href="https://www.tourismebretagne.com" target="_blank">
                        <img src="{{ asset('build/images/logo_tourisme_bretagne.jpg') }}" alt="Logo Toursime Bretagne">
                    </a>
                </figure>
            </div>
            <div class="col-lg-9">

                <h2>Comité Régional du Tourisme Bretagne</h2>
                <p><strong>Les Expériences Bretonnes</strong> : <a
                            href="https://www.tourismebretagne.com/preparer-mon-sejour/experiences-bretonnes/apprenez-a-reconnaitre-et-cuisiner-les-plantes-sauvages/"
                            target="_blank">
                        https://www.tourismebretagne.com/preparer-mon-sejour/experiences-bretonnes/apprenez-a-reconnaitre-et-cuisiner-les-plantes-sauvages/
                    </a>
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <figure>
                    <a href="https://bretagne-vitre.com/" target="_blank">
                        <img src="{{ asset('build/images/logo_tourisme_vitre.jpg') }}" alt="Logo Toursime Vitré">
                    </a>
                </figure>
            </div>
            <div class="col-lg-9">
                <h2>Office du tourisme de Vitré</h2>
                <p><a href="https://bretagne-vitre.com/" target="_blank">
                        https://bretagne-vitre.com/
                    </a>
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <figure>
                    <a href="http://www.effet-vitre.bzh" target="_blank">
                        <img src="{{ asset('build/images/logo_effet_vitre.jpg') }}" alt="Logo Effet Vitré">
                    </a>
                </figure>
            </div>
            <div class="col-lg-9">
                <h2>Ambassadrice du réseau l'effet Vitré</h2>
                <p><a href="http://www.effet-vitre.bzh/leffet-vitre/" target="_blank">
                        http://www.effet-vitre.bzh/leffet-vitre/
                    </a>
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <figure>
                    <a href="https://animationsetculture.fr/fr/" target="_blank">
                        <img src="{{ asset('build/images/logo_guerche.png') }}" alt="Logo Animations et culture en pays guerchais">
                    </a>
                </figure>
            </div>
            <div class="col-lg-9">
                <h2>Office du toursime La Guerche de Bretagne</h2>
                <p><a href="https://animationsetculture.fr/fr/" target="_blank">
                        https://animationsetculture.fr/fr/
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
