<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for url in urls %}
        <url>

            <loc>{{ hostname }}{{ url.loc }}</loc>

{#            <lastmod>2005-01-01</lastmod>#}

{#            <changefreq>monthly</changefreq>#}

{#            <priority>0.8</priority>#}

        </url>
    {% endfor %}

</urlset>