{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ '405.title'|trans({}, 'errors') }}</h1>
                <p>
                    {{ '405.text'|trans({}, 'errors') }} <a href="mailto:contact@wheelwork.fr">contact@wheelwork.fr</a>.
                </p>
            </div>
        </div>
    </div>

{% endblock %}