{% extends 'base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'registration') }}{% endblock %}

{% block body %}
    <div class="container body-container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-10">
                <h2>{{ 'show.title'|trans({}, 'registration') }}</h2>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'uuid'|trans({}, 'registration') }}</th>
                        <td>{{ registration.uuid }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'lastname'|trans({}, 'registration') }}</th>
                        <td>{{ registration.firstname }} {{ registration.lastname }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'street'|trans({}, 'registration') }}</th>
                        <td>{{ registration.street }} - {{ registration.zipCode }} {{ registration.city }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'phone_number'|trans({}, 'registration') }}</th>
                        <td>{{ registration.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'email'|trans({}, 'registration') }}</th>
                        <td>{{ registration.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'participants_number'|trans({}, 'registration') }}</th>
                        <td>{{ registration.participantsNumber }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'payment_details.title'|trans({}, 'registration') }}</th>
                        <td>
                            <p>{{ 'payment_details.registration_cost'|trans({'%registration_cost%': registration.price / 100}, 'registration') }}</p>
                            <p>{{ 'payment_details.fees_cost'|trans({'%participants_number%': registration.participantsNumber}, 'registration') }}</p>
                            <p>{{ 'payment_details.total_cost'|trans({'%total%': total / 100}, 'registration') }}</p>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'show.payment_status'|trans({}, 'registration') }}</th>
                        <td>

                            <form
                                action="{{ path("payment", {'uuid': registration.uuid }) }}" method="post"
                                id="payment-form"
                                {{ stimulus_controller('payment', {
                                    stripePublicKey: stripe_public_key,
                                    clientSecret: clientSecret,
                                    registrationUuid: registration.uuid,
                                    cardHolderName: registration.lastname ~ registration.firstname,
                                    cardHolderEmail: registration.email
                                }) }}
                            >
                                <div class="form-row">
                                    <div id="card-elements"></div>

                                    <script src="https://js.stripe.com/v3/"></script>

                                    <div id="card-errors" role="alert"></div>
                                </div>

                                <button class="btn btn-primary mt-4">
                                    Acheter {{ total / 100 }} €
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
{% endblock %}
