{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'duplicate.title'|trans({}, 'workshop') }}{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary"
       href="{{ ea_url().setRoute('admin', {id: workshop.id}) }}">{{ 'edit-image.back_form'|trans({}, 'workshop') }}</a>
{% endblock %}

{% block main %}
    {{ include('admin/workshop/_form.html.twig', {'button_label': 'duplicate.form.button.label'|trans({}, 'workshop')}) }}
{% endblock %}
