{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'participants.title'|trans({}, 'workshop') }}{% endblock %}

{% block page_actions %}

  <a class="btn btn-primary"
     href="{{ ea_url().setController('App\\Controller\\Admin\\WorkshopCrudController')
       .setAction('detail')
       .setEntityId(workshop.id) }}">{{ 'back-workshop'|trans({}, 'registration') }}</a>
{% endblock %}

{% block main %}

  <table class="table">
    <thead>
    <tr>
      <th scope="col">{{ 'fullname'|trans({}, 'registration') }}</th>
      <th scope="col">{{ 'phone_number'|trans({}, 'registration') }}</th>
      <th scope="col">{{ 'city'|trans({}, 'registration') }}</th>
      <th scope="col">{{ 'participants_number'|trans({}, 'registration') }}</th>
      <th scope="col">{{ 'created_at'|trans({}, 'registration') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for participant in participants %}
      <tr>
        <td>{{ participant.fullname }}</td>
        <td>{{ participant.phoneNumber }}</td>
        <td>{{ participant.city }}</td>
        <td>{{ participant.participantsNumber }}</td>
        <td>{{ participant.createdAt|format_datetime }}</td>
        <td>
          <a class="btn btn-primary"
             href="{{ ea_url().setController('App\\Controller\\Admin\\RegistrationCrudController')
               .setAction('detail')
               .setEntityId(participant.id) }}">
            {{ 'consult'|trans({}, 'registration') }}
          </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
