{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{ 'user_form.title'|trans({}, 'user') }}</h1>
                {{ form_start(userForm) }}
                {{ form_widget(userForm) }}
                <button
                    class="btn btn-primary">{{ button_label|default('user_form.update.button'|trans({}, 'user')) }}</button>
                {{ form_end(userForm) }}
            </div>
            <div class="col-lg-6">
                <h1>{{ 'pass_form.title'|trans({}, 'user') }}</h1>
                {{ form_start(passForm) }}
                {{ form_widget(passForm) }}
                <button
                    class="btn btn-primary">{{ button_label|default('pass_form.update.button'|trans({}, 'user')) }}</button>
                {{ form_end(passForm) }}
                <h1 class="mt-5">{{ '2fa.title'|trans({}, 'user') }}</h1>

                {% if not app.user.totpAuthenticationEnabled %}
                    <p>{{ '2fa.description'|trans({}, 'user') }}</p>
                    <a class="btn btn-primary"
                       href="{{ path('app_2fa_enable') }}">{{ '2fa.button.enable'|trans({}, 'user') }}</a>
                {% else %}
                    <p>{{ '2fa.help'|trans({}, 'user') }}</p>
                    <p><img class="qr-code" src="{{ path('app_qr_code') }}" alt="2fa QR Code"></p>
                    <a class="btn btn-primary"
                       href="{{ path('app_2fa_disable') }}">{{ '2fa.button.disable'|trans({}, 'user') }}</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
