{% if features is defined %}
    <div class="list-group">
        {% for feature in features %}
            <a class="list-group-item list-group-item-action">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                    <span class="px-1"
                          data-action="click->search-address#onClickAddress"
                          data-street="{{ feature.properties.name }}"
                          data-postcode="{{ feature.properties.postcode }}"
                          data-city="{{ feature.properties.city }}"
                    >{{ feature.properties.label }}</span>
                    </div>
                </div>
            </a>

        {% else %}
            <div class="list-group-item">
                Aucune correspondance
            </div>
        {% endfor %}
    </div>
{% endif %}