{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row>
        <columns>
            <p>
                {{ 'contact.paragraph.first'|trans({}, 'email') }}
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                {{ 'contact.paragraph.second'|trans({}, 'email') }}
            </p>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                <i><a href="{{ signedUrl }}">{{ 'contact.paragraph.third'|trans({}, 'email') }}</a></i>
            </center>
        </columns>
    </row>
{% endblock %}
